body {
    font-family: 'Roboto', sans-serif;
    color: #312223;
}

.container-wrapper {

}

.container-wrapper-blue {
    background-color: #31648a;
    color: white;
}

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: .25 .5em;
    background-color: #2faa54;
    border-color: #2faa54;
    color: white;
}

.site-wide-alert a {
    color: white;
    text-decoration: underline;
}

.callout-container {
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../media/whiskybg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {

}

.features-container {

}

/* Page Headers */
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 1.25em;
}

/* Block dividers */
.block-divider {
    border: 0;
    width: 66%;
    height: 0.5em;
}

.block-divider-blue {
    background-color: #31648a;
}

.block-divider-short {
    width: 33%;
    background-color: #ce7018;
}

/* Content containers */
.content-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #31648a;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.free-mark {
    color: white;
    font-weight: bold;
    background-color: #31648a;
}

.jumbotron-lead {
    color: #d0d0d0;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

/* Buttons */
.btn-cta {
    font-size: 1.75em;
    font-weight: bold;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.btn-blue {
    color: white;
    background-color: #31648a;
    border-color: #31648a;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:active:focus {
    background-color: #ce7018;
    border-color: #ce7018;
}

.btn-nav {
    border-radius: 1em;
    width: 10em;
    height: 2.5em;
}

.btn-nav-orange {
    color: white;
    background-color: #ce7018;
    border-color: #ce7018;
}

.btn-nav-orange:hover,
.btn-nav-orange:active,
.btn-nav-orange:focus,
.btn-nav-orange:active:focus {
    background-color: #31648a;
    border-color: #31648a;
}

/* Features */
.feature {
    text-align: center;
    margin-bottom: 3rem;
}

.feature i {
    margin-bottom: .5em;
    margin-top: .5em;
    font-size: 1.5em;
    line-height: 1em;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 1em;
    color: #31648a;
    min-width: 7em;
}