body {
    font-family: 'Roboto', sans-serif;
    color: #312223;
}

.alert-container {

}

.callout-container {
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../media/whiskybg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {

}

.features-container {

}

/* Block dividers */
.block-divider {
    background-color: #31648a;
    border: 0;
    width: 66%;
    height: 0.5em;
}

.block-divider-blue {
    background-color: #31648a;
}

.block-divider-short {
    width: 33%;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.free-mark {
    color: white;
    font-weight: bold;
    background-color: #31648a;
}

.jumbotron-lead {
    color: #d0d0d0;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

/* Buttons */
.btn-cta {
    font-size: 1.75em;
    font-weight: bold;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.btn-orange {
    color: white;
    background-color: #ce7018;
    border-color: #ce7018;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:active:focus {
    background-color: #31648a;
    border-color: #31648a;
    font-size: 1.8em;
}